.grid{

    height: 560px;
    width: 560px;
    flex-wrap: wrap;
    display: flex;
    background: url(../images/candy-crush-background-2.png);
    

}

.grid div {

    height: 70px;
    width: 70px;
}